*~
.*
!.gitignore
.settings/
.buildpath
.project
library/Zend
*.log
*.autosave
/logs
application/modules/document/files
application/searchIndex
library/My/Tcpdf/cache
library/Questionary
library/PHPExcel
/nbproject/private/
/nbproject
application/modules/questionary
public/js/questionary
*sublime*
searchIndex
