@CHARSET "UTF-8";

/*General*/
.bold{
	font-weight: bold;
}

.message{
	background: #b7ceec; padding: 10px
}

.hidden{
	display: none;
}

.overflow{
	height: 150px;
	overflow: auto;
}

.inline{
	display: inline;
}

.diary-message, .no-margin{
	margin: 0; padding: 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.separator{
	border-top: solid 2px;
}

.floating-box{
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 15px;
	background: #e5eCf9;
}

.button-anchor{
	border:0px solid #fff;  /* needed for opera */
	background:transparent;
	color:#06c;
	cursor:pointer;
	padding:0px;
	display: inline;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	text-decoration: underline;
}

a.workplace-title, a.position-title{
	font-size: 120%;
	font-weight: bold;
	margin-top: 10px;
}

#informations{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 30px;
}

.width-200{
	width: 207px;
}

a {
	cursor: pointer;
}

h3{
	margin: 20px 0 5px 0;
}

h4{
	margin: 15px 0 5px 0;
}

h5{
	margin: 1.5em 0 0 0;
}

.align-right{
	text-align: right;
}

.no-bullet{
	list-style: none;
}

/*Formulare*/
textarea{
	height: 50px;
}
label.optional{
	font-weight: normal;
}

#users-label, #subsidiaries-label{
	display:none;
}

fieldset dl dd label{
	font-weight: normal;
}
fieldset dd{
	height: 200px;
	overflow: auto;
}

select{
	max-width: 400px;
}

form ul{
	list-style-type: none;
}

form ul.errors{
	list-style-type: disc;
}

form ul label{
	font-weight: normal;
}

/*Formular adresar*/
label[for=tree]		{float:left;}
span.tree			{float:left; clear:both;}
textarea#message	{width: 410px; height: 180px; float: right; margin-top: 0;}
input[type=text]	{width: 200px;}
span.tree > ul#tree	{height: 200px; overflow: auto; max-width: 250px;}
dt#send-label		{clear: both;}

/*Formular pracoviste*/
input[id*='factor_'], input[id*='risk_'] {width: 300px;}
td[id*='-errors']						 {color: red; font-weight: bold;}
form#workplace select					 {min-width: 200px;}

/*Formular pracovni pozice*/
input[id*='title']	{width: 50px;}
input[id*='first_name'], input[id*='surname']	{width: 150px}
textarea[id*='new_workplaces']					{width: 330px; height: 150px; overflow: auto;}
textarea[id*='protection_measures']				{width: 90%; height: 200px; overflow: auto;}
textarea[id*='schoolingDetail']					{width: 300px;}

.multiCheckbox, .multiCheckboxEmployees, .multiCheckboxPositions, .multiCheckboxWorks, .multiCheckboxSubsidiaries,
	.multiCheckboxTechnicaldevices, .multiCheckboxChemicals, .multiCheckboxWorkplaces, .multiCheckboxEnvironmentfactors,
	.multiCheckboxSchoolings
	{height: 150px; overflow: auto; max-width: 400px;}
.multiCheckbox label, .multiCheckboxEmployees label, .multiCheckboxPositions label, .multiCheckboxWorks label,
	.multiCheckboxSubsidiaries label, .multiCheckboxTechnicaldevices label, .multiCheckboxChemicals label,
	.multiCheckboxWorkplaces label, .multiCheckboxEnvironmentfactors label, .multiCheckboxSchoolings label
	{font-weight: normal;}

/*
 * CSS - PETR JINDRA
 */
.tree { list-style: none; }
.tree-roller { border: dotted 1px black; font-family: monospace; cursor: hand; cursor: pointer;  padding: 2px 5px;}
.tree-roller:hover { background-color: #e5eCf9; }
.keyval-table tr td:last-child { font-weight: bold;}
.pre { white-space: pre; }
.multirow-table thead { background-color: #C3D9FF; }
.multirow-table tbody:nth-child(odd) tr { background-color: #e5ecf9; }
.multirow-table tbody:nth-child(even) tr td { background-color: #F2F5F7; }
.mistake-marked tr td { background-color: #ff6f6f!important; color: #000000; }
.mistake-removed tr td { background-color: #86ff8f !important; color: #000000; }

/*
 * semafory
 */
 .semaphore { background-image: url(/images/lights.png); width: 64px; height: 24px; }
 .semaphore div { width: 19px; height: 19px; cursor: hand; cursor: pointer; float: left; margin: 3px 0 0 2px;}
 .sem-red { background-position: 0 0;}
 .sem-green { background-position: 0 48px;}
 .sem-yellow { background-position: 0 24px; }
 
 /*
  * zprava z auditu
  */
table.report { border-collapse: collapse; font-size: 12pt; }
table.report td { border: 1px solid black; }
td.report-percent { font-weight: bolder; color: red; text-align: center; width: 4em;}

span.directory, span.document { padding-left : 16px; background: url(/images/ui-icons_454545_256x240.png) no-repeat; }
span.directory { background-position: 0 -96px; }
span.document { background-position: -32px -96px; }