.questionary { width: 800px; border: 2px solid #808080; border-radius: 7px; background: #fafafa; padding: 5px; margin: auto; }
.questionary-container { margin: auto;  width: 820px; font-family: Arial; }
.questionary-head { text-align: center; font-variant: small-caps; border : 0px black solid; border: 0px black solid; border-bottom: 1px black solid;}
.questionary-item { width: 100%; padding: 5px 3px; position: relative;}
.questionary-label,.questionary-content { background: #d0e8f0; margin: 2px; padding: 4px 4px; width: inherit; vertical-align: middle; border-radius: 5px; }
.questionary-label {float: left; width: 385px; }
.questionary-content { float: right; width: 385px; margin-right: 8px; }
.questionary-clearer { clear: both; }
#questionary-controll { text-align: center; }
#questionary-save, #questionary-submit, #questionary-reset { width: 150px; margin: 0px 10px; height: 2em; border-radius: 1em; border: 3px solid #d0e8f0; cursor: pointer; cursor: hand; }

/* LABEL */
.questionary-item-label { width: 786px; display: block; max-width: none;}

/* GROUP */
div.questionary-item-group-label { border: 0px; border-top: 1px black solid; margin: 15px 0 2px 0; }
div.questionary-item-group-content { border: 0px; border-bottom: 1px black solid; margin: 2px 0 15px 0;}
div.questionary-item-group-content div.questionary-item { margin: 0; padding: 5px 0; }

/* TEXT */
input.questionary-item-text { width: 100%; }

/* TEXTAREA */
textarea.questionary-item-textarea { width: 95%; height: 8em; }

/* RADIO */
span.questionary-item-radio-item {width: 40px; text-align: center; display: block; float: left; }

/* VALUELIST */
span.questionary-item-valuelist-item {width: 40px; text-align: center; display: block; float: left; }

/* SELECT */
select.questionary-item-select { width: 100%; }