/* 
    Document   : styles
    Created on : 11.12.2013, 12:02:36
    Author     : petr
    Description:
        Purpose of the stylesheet follows.
*/

#cnt-identification { background-color: #e3ecf6; border-radius: 10px; height: 50px; margin-left: 69px;}
.icon-home { padding-right: 15px;  float: left; }
.icon-home a { background: no-repeat url(/images/home.png); height: 50px; width: 54px; display: block; }

#client-name { font-size: 14pt; padding: 10px 10px 15px 10px; float: left; display: block; }
#client-name a { text-decoration: none; color: #393185; }
#client-name a:hover { text-decoration: underline; } 
#client-risks { background-color: #e31e24; color: white; font-size: 10pt; float: right; border-radius: 10px; padding: 4px 10px 10px 10px; font-weight: bolder; height: 36px; }

.big { font-size: 18pt; font-weight: bolder; }
#client-risks .big { position: relative; top: 3pt; }