/* 
    Document   : styles
    Created on : 11.12.2013, 12:02:36
    Author     : petr
    Description:
        Purpose of the stylesheet follows.
*/

.container { width: 1200px; }

#guardian-logo {float: left; }
#logged-in-as { float: right; }

#welcome { font-size: 12pt; font-style: italic; }
form#login input[type='text'],form#login input[type='password'] { width: 300px; }
form#login table tbody tr:nth-child(2n) td { background: none; }
form#login table tbody tr td:first-child { text-align: right; }
form#login table { font-size: 14pt; }
form#login table td { margin: 15px; padding: 10px 20px; }
form#login table tbody tr:last-child td { text-align: center; }

form#search { float: right; }
#diary-messages { padding: 15px; }

h1 { color: red; font-size: 22pt; font-weight: bold; }
.main-content { width: 950px; }

#client-menu { float: right; margin: 2px 15px; font-size: 11pt; }

.redline { background: red; height: 3px; margin: 5px 0 25px 0; }

#contact-table-main td, #contact-table-tech td { background: none; padding-bottom: 15px; font-size: 12pt; width: 50%; }

#cnt-identification { background-color: #e3ecf6; border-radius: 10px; height: 50px; margin-left: 69px;}
.icon-home { padding-right: 15px;  float: left; }
.icon-home a { background: no-repeat url(/images/home.png); height: 50px; width: 54px; display: block; }

#client-name { font-size: 14pt; padding: 10px 10px 15px 10px; float: left; display: block; max-width: 800px; overflow: hidden; white-space: pre; }
#client-name a { text-decoration: none; color: #393185; }
#client-name a:hover { text-decoration: underline; } 
#client-risks { background-color: #e31e24; color: white; font-size: 10pt; float: right; border-radius: 10px; padding: 4px 10px 10px 10px; font-weight: bolder; height: 36px; }

.big { font-size: 18pt; font-weight: bolder; }
#client-risks .big { position: relative; top: 3pt; }

#upper-panel { background-color: #585858; color: #ffffff; border-radius: 10px; text-align: center; font-size: 18px; font-weight: bold; margin: 10px 0 15px 0; }
#upper-panel a { color: #ffffff; text-decoration: none; padding: 10px 0px; }
#upper-panel a:hover { text-decoration: underline;}
.common-menu { padding: 10px 0; margin: 0; }
.common-menu li { display: inline; margin: auto; margin: 0 30px; }

#left-menu { background: #e3ecf6; padding: 40px 5px 10px 5px; border-radius: 10px; float: left; font-size: 12pt; width: 200px; font-variant: small-caps; }
#left-menu ul { list-style: none; padding-left: 5px; }
#left-menu li { margin: 5px 0; }
#left-menu li:first-child { font-weight: bold; }
#left-menu a { color: #393185; }

.subsidiary-list { fonst-size: 14pt; list-style: none; }
.subsidiary-list li { padding: 2px 5px; }
.subsidiary-list li:nth-child(2n+1) { background-color: #e5ecf9;}

.box, .floating-box { border-radius: 15px; border: 1px solid #000000; background-color: #e3ecf6; }
.client-list, .client-list ul { list-style: none; font-size: 12pt; }
.client-list>li>span { font-weight: bold; }

#informations { width: 912px;}

.ui-tabs .ui-widget-header { background: none; border: none; }
.ui-tabs .ui-tabs-panel { border: 1px solid #000000; }
.ui-tabs .ui-corner-bottom { border-radius: 0 0 15px 15px; }
.ui-tabs { border: none; }
.ui-tabs .ui-tabs-nav li { border-color: #000000; border-radius: 0; margin: 0; border-left: 0; }
.ui-tabs .ui-tabs-nav li:first-child {border-left: 1px solid black; }
.element textarea { width: 100%; height: 10em; }

.overview tbody tr td:first-child { min-width: 20%; }